<!DOCTYPE html>
{% extends 'navbar.html' %}
{% block title %}О нас - RussianPizza{% endblock title %}
{% block content %}

<body>

	<section class="about">
		<div class="container">

			<div class="headline_block">

				<h1>Мы</h1>

				<div class="underline"></div>

				<p>Russian Pizza - это первая по-настоящему русская пицца. Мы готовим вкусную пиццу, объединяя в ней лучшие традиции русской и итальянской кухни, что делает её уникальной и исключительной. Мы всегда быстро доставляём её горячей в любую точку Красноярска. Наша миссия - радовать Вас и ваших друзей вкусной и сытной пиццей.</p>

			</div>

			<div class="headline_block">
				
				<h1>Почему пицца?</h1>

				<div class="underline"></div>

				<div class="slogans">
					<ul>
						<li class="first">
							<img src="/media/pizzaImages/icon-love.svg" alt="">
							<h2>Пиццу любят все</h2>
						</li>
						<li>
							<img src="/media/pizzaImages/icon-delicious.svg" alt="">
							<h2>Пицца это о-о-очень вкусно</h2>
						</li>
					</ul>
				</div>

				<ul>
					<li>• Пиццу можно съесть, пока ты смотришь сериал</li>

					<li>• Можно заказать на детский праздник</li>

					<li>• Пицца заменяет праздничный торт</li>

					<li>• Пицца — это вкусный ужин после долгого рабочего дня</li>

					<li>• Пицца поможет накормить всех коллег</li>
				</ul>

			</div>

			<div class="headline_block">

				<h1>Почему именно Russian Pizza?</h1>

				<div class="underline"></div>

				<p>Потому что у нас есть:</p>

				<ul>
					<li>Бесплатная доставка от 800 рублей</li>

					<li>Бесплатный самовывоз из любого филиала со скидкой 15%</li>

					<li>Быстрая доставка от 30 минут</li>

					<li>Большая пицца 32 см из самых качественных ингредиентов</li>

					<li>Приветливая и вежливая команда курьеров и поваров</li>
				</ul>

			</div>

			<div class="headline_block">
				
				<h1>Как заказать самую русскую пиццу?</h1>

				<div class="underline"></div>

				<div class="slogans">
					<ul>
						<li class="first">
							<img src="/media/pizzaImages/icon-call.svg" alt="">
							<h2>Оформить заказ по телефону</h2>
						</li>
						<li>
							<img src="/media/pizzaImages/icon-site.svg" alt="">
							<h2>Или на сайте</h2>
						</li>
					</ul>
				</div>

			</div>

		</div>
	</section>

	<footer class="footer">
		<div class="footer-container">
		
			<img src="/media/pizzaImages/logo.svg" alt="">

			<p>
				© RussianPizza 2023<br>Информация на сайте носит справочный характер. Внешний вид, цена и состав блюд могут отличаться от представленных на сайте.
			</p>

		</div>
	</footer>

	<div class="upward" onclick="scrollToTop()">
		<img src="img/upward.svg" alt="">
	</div>
</body>
{% endblock content %}