{% extends 'navbar.html' %}

{% block title %} {{ product.name }} {% endblock %}

{% block content %}

    <div class="good">
		<div class="good_body">
			<div class="good_content">
				<div class="good_characteristics">

					<h2>Характеристики:</h2>
					<div class=""></div>
					<p>{{ product.description }}</p>

					<ul>
						<li>Цена: {{ product.price }}р</li>
						{% for spec in product_spec %}
						<li>{{spec.title}} : {{spec.description}}</li>
						{% endfor %}
					</ul>

				</div>

				<div class="good_main">

					<h1>{{ product.name }}</h1>
					<img src='{{ product.img.url }}' alt="{{ product.name }}">
					<button>Добавить</button>

				</div>

				<a href="" class="good_cross"><img src="img/cross.svg" alt=""></a>
			</div>
		</div>
	</div>
{% endblock %}