{% extends 'base.html' %}

{% block title %} Товары {% endblock %}

{% block content %}
<div class="basket">
		<div class="basket_body">
			<div class="basket_content">
				<div class="basket_head">
					<h1>Корзина</h1>

					<a href="" class="cross"><img src="/media/pizzaImages/cross.svg" alt=""></a>
				</div>
				{% for product in cart %}
				<div class="pizza">
					<img src="{{ product.pizza_id.img.url }}" alt="">
					<div class="pizza_info">

						<h2>{{product.pizza_id.name}}</h2>
						<h3>{{product.pizza_id.price}}</h3>

						<div class="manipulator">
							<a href="{% url 'basket_remove' product.pizza_id.id %}" class="minus">-</a>
							<input type="text" value="{{product.count}}">
							<a href="{% url 'basket_add' product.pizza_id.id %}" class="plus">+</a>
						</div>

					</div>
				</div>

				<div class="underline"></div>
				{% endfor%}

				<div class="cost">
					<h4>К оплате</h4>
					<h5>{{ total_sum }}</h5>
				</div>
				<a href="user/make-order" class="order">Заказать</a>

			</div>
		</div>
	</div>

	<div class="good" id="productModal">
		<div class="good_body">
			<div class="good_content">
				<div class="good_characteristics">

					<h2>Характеристики:</h2>
					<div class=""></div>
					<p>Оч вкусная брат</p>

					<ul>
						<li>
							Цена: 640р.
						</li>
						<li>
							Размер: 30см.
						</li>
						<li>
							Начинка: Водка, рассол, твоя мама.
						</li>
						<li>
							Тесто: тонкое
						</li>
					</ul>

				</div>

				<div class="good_main">

					<h1>Русская</h1>
					<img src="img/pizza-russian.svg" alt="">
					<button>Добавить</button>

				</div>

				<a href="" class="good_cross"><img src="img/cross.svg" alt=""></a>
			</div>
		</div>
	</div>

<div class="popup" id="popUpReg">

	<div class="header">

		<h1 >Добро пожаловать!</h1>

		<a class="cross"><img src="/media/pizzaImages/cross.svg" alt=""></a>

	</div>
	<form method="POST" enctype="multipart/form-data">
      	{% csrf_token %}
      	{% for field in formReg %}
        <h2>{{ field.label_tag }}</h2>
		<div>{{ field }}</div>

      {% endfor %}
        <button type="submit" name="reg">Регистрация</button>
    </form>

	<h3>Продолжая вы принимаете<br><a href="#">политику обработки персональных данных</a></h3>

	<a href="log.html" class="to-log">Уже зарегестрированы?</a>

	</div>





<div class="popup" id="popUpLog">

	<div class="header">

		<h1>Рады вас видеть!</h1>

		<a class="cross"><img src="/media/pizzaImages/cross.svg" alt=""></a>

	</div>

	<form method="POST" enctype="multipart/form-data">
      	{% csrf_token %}
      	{% for field in formLog %}
			<h2>{{ field.label_tag }}</h2>
			<div>{{ field }}</div>

      	{% endfor %}
        <button type="submit" name="log">Войти</button>
	</form>

	<a href="reg.html" class="to-log">Нет аккаунта?</a>

	</div>
<div class="overlay" id="overlay-modal"></div>

	<div class="upward" onclick="scrollToTop()">
		<img src="/media/pizzaImages/upward.svg" alt="">
	</div>

	<header id="header" class="header">
		<div class="container">

			<div class="nav">

				<ul>
					<li>
						<a href="/">Меню</a>
					</li>
					<li>
						<a href="#">О нас</a>
					</li>
					<li>
						<a href="tel:+79504182020"><img href="tel:+79504182020" src='/media/pizzaImages/icon-phone.svg' alt=""></a>
						<a href="tel:+79504182020" class="tel">8 (950) 418-20-20</a>
					</li>
				</ul>

				<img src="/media/pizzaImages/logo.svg" alt="RussianPizza" class="logo">

				<h1 class="name">Russian<br>Pizza</h1>




				{% if user.is_authenticated %}
				{% if bol is False %}
				<a href="/profile/"><img src="{{profPic}}" width="60px" alt="RussianPizza" class="avatar"></a>
				<a href="/logout/"><img src="/media/pizzaImages/icon-door.svg" alt=""></a>
				{% else %}
				<a href="/profile/"><img src="{{ profPic.url }}" width="60px" alt="RussianPizza" class="avatar"></a>
				<a href="/logout/"><img src="/media/pizzaImages/icon-door.svg" alt=""></a>
				{% endif %}
				{% else %}
				<a class="popUpBtn" id="reg" href="">Регистрация</a> |
				<a class="popUpBtn" id="log" href="" >Войти</a>
				{% endif %}
			</div>

			<div class="slogan">

				<h1 class="slogan1">
					Из России с любовью
				</h1>

				<h2 class="slogan2">
					Первая по-настоящему русская пицца - <br>для тех, кому ближе то, что родное.
				</h2>

				<button class="slogan-buton">
					Заказать
				</button>

			</div>

			<div class="pros">
				<img src="media/pizzaImages/icon-transportation.svg" alt="">

				<h1>
					Бесплатная доставка<br> при заказе от 800р.
				</h1>
			</div>

			<div class="pros" id="icon-clock">
				<img src="media/pizzaImages/icon-clock.svg" alt="">

				<h1>
					За 2 часа в любую точку Красноярска!
				</h1>
			</div>
		</div>
	</header>
	<main>
	<section id="menu" class="menu">

		<div class="menu-nav">

				<div class="menu-nav-container">

					<img src="media/pizzaImages/logo.svg" alt="" class="menu-logo">

					<h1 class="menu-name">Russian<br>Pizza</h1>

					<ul>
						<li>
							<a href="#Пицца"><img src="media/pizzaImages/icon-pizza-slice.svg" alt=""></a>
							<br>
							<a href="#Пицца" class="dish-ref">Пицца</a>
						</li>
						<li>
							<a href="#Горячее"><img src="media/pizzaImages/icon-sandwich.svg" alt=""></a>
							<br>
							<a href="#Горячее" class="dish-ref">Горячее</a>
						</li>
						<li>
							<a href="#Салаты"><img src="media/pizzaImages/icon-salad.svg" alt=""></a>
							<br>
							<a href="#Салаты" class="dish-ref">Салаты</a>
						</li>
						<li>
							<a href="#Десерты"><img src="media/pizzaImages/icon-cake.svg" alt=""></a>
							<br>
							<a href="#Десерты" class="dish-ref">Десерты</a>
						</li>
						<li>
							<a href="#Соусы"><img src="media/pizzaImages/icon-sauce.svg" alt=""></a>
							<br>
							<a href="#Соусы" class="dish-ref">Соусы</a>
						</li>
						<li>
							<a href="#Напитки"><img src="media/pizzaImages/icon-drink.svg" alt=""></a>
							<br>
							<a href="#Напитки" class="dish-ref">Напитки</a>
						</li>
					</ul>
					{% if user.is_authenticated %}
					{% if bol is False %}
					<a href="/profile/"><img src="{{profPic}}" width="60px" alt="RussianPizza" class="avatar"></a>
					<h1 class="menu-basket">{{ total_sum }}</h1>
					<a href="" class="popUpBtn" id="cart1"><img src="media/pizzaImages/icon-cart.svg" alt=""></a>
					{% else %}
					<a href="/profile/"><img src="{{ profPic.url }}" width="60px" alt="RussianPizza" class="avatar"></a>
					<h1 class="menu-basket">{{ total_sum }}</h1>
					<a href="" class="popUpBtn" id="cart2"><img src="media/pizzaImages/icon-cart.svg" alt=""></a>
					{% endif %}
					{% else %}
					{% endif %}




				</div>

		</div>
		<div class="container" id="sections">
		{% for type in types %}
			<h1 class="section-name" id="{{ type }}">{{type}}</h1>
			<div class="line"></div>

			<div class="section">

				<ul class="card">

					{% for product in products %}
					{% if product.isAlive == True %}
					{% if type == product.type_id%}
					<li>
						<a href="{% url 'product_detail' product.id %}">
							<img src="{{ product.img.url }}" alt="{{ product.name }}">
						</a>

						<h2><a href="{% url 'product_detail' product.id %}">{{ product.name }}</a></h2>
						<p class="desc">
							{{ product.description }}
						</p>
						<div class="price">
							<h3>{{ product.price }} ₽</h3>
							<div class="product_change">
								<a href="{% url 'basket_remove' product.id%}" class="btn-">-</a>
								<div class="quantity"></div>
								<a href="{% url 'basket_add' product.id%}" class="btn+">+</a>
						</div>
					</li>
					{% endif %}
					{% endif %}
					{% endfor %}
				</ul>
			</div>
		{% endfor %}

	</div>

	<div id="footer" class="footer">

		<div class="footer-container">

			<img src="media/pizzaImages/logo.svg" alt="">

			<p>
				© RussianPizza 2023<br>Информация на сайте носит справочный характер. Внешний вид, цена и состав блюд могут отличаться от представленных на сайте.
			</p>

		</div>

	</div>

	</section>
</main>
{% endblock %}

        <div class="product">
            <a href="{% url 'product_detail' product.id %}">{{ product.name }}</a>
            <img src="{{ product.img.url }}" alt="{{ product.name }}">
            <p>{{ product.description }}</p>
            <p>Цена: {{ product.price }} руб.</p>
            <button>Купить</button>
        </div>