html {
	scroll-behavior: smooth;
}

body {
	padding: 0px;
	margin: 0px;
	font-family: 'Montserrat';
	color: #fff;
	font-size: 24px;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0px;
	margin: 0px;
	font-size: 24px;
	font-weight: 700;
}

ul, li {
	display: block;
	padding: 0px;
	margin: 0px;
}

.card a {
	text-decoration: none;
	color: #FFFFFF;
}

.card a:hover {
	color: #E2E2E2;
}

.card a:active {
	color: #0E0E0E;
}

.container {
	width: 1170px;
	margin: auto;
}

.box {
	width: 100px;
	height: 100px;
}

.header{
	background: url('/media/pizzaImages/landing-background.jpg') no-repeat center top / cover;
}

header a {
	color: white;
}

.nav {
	display: flex;
	align-items: center;
}

.nav ul {
	display: flex;
}

.nav li a {
	text-decoration: none;
}

.nav li {
	margin-right: 30px;
	display: flex;
	align-items: center;
}

.name {
	text-align: center;
	margin-top: 5px;
}

.logo {
	padding-top: 10px;
	margin-right: -30px;
}

.tel {
	margin-left: 5px;
}

.profile_button{
	margin-left: auto;
}

.basket {
	font-weight: regular;
	font-weight: 400;
	margin-inline: 24px;
}

.slogan {
	margin-top: 54px;
	margin-bottom: 81px;
	text-align: left;
}

.slogan h1 {
	font-size: 42px;
	margin-bottom: 20px;
	letter-spacing: 0.065em;
}

.slogan h2 {
	font-weight: 300;
	font-size: 26px;
	margin-bottom: 30px;
	letter-spacing: 0.015em;
}

.slogan button {
	display: block;
	width: 303px;
	height: 71px;
	background: linear-gradient(294.8deg, #810000 31.94%, #9A0000 71.67%);
	box-shadow: 0px 8px 35px rgba(145, 1, 1, 0.29);
	border: 0px;
	border-radius: 5px;
	font-family: 'Montserrat';
	font-weight: 600;
	font-size: 30px;
	color: white;
	letter-spacing: 0.05em;
}

.pros {
	display: flex;
	align-items: center;
	margin-top: 16px;
}

.pros h1 {
	font-weight: 500;
	margin-left: 21px;
	width: 350px;
	text-align: center;
}

#icon-clock {
	padding-bottom: 58px;
}

#background-half {
	position: absolute;
	width: 805px;
	height: 900px;
	background: #151515;
	left: 0px;
	top: 0px;
}



.menu{
	background: linear-gradient(165.85deg, #3A3A3A 15.44%, #000000 91.68%);
}

.menu-nav {
	background: white;
	border-radius: 0px 0px 30px 30px;
}

.menu-nav-container {
	width: 1170px;
	margin: auto;
	display: flex;
	align-items: center;
}

.menu-name {
	color: black;
	text-align: center;
    vertical-align: middle;
	margin-left: -25px;
	margin-bottom: 5px;
	margin-right: 92px;
}

.menu-nav-container ul {
	display: flex;
	margin-right: 100px;
}

.menu-nav-container li a {
	text-decoration: none;
}

.menu-nav-container li {
	margin-right: 9px;
	display: block;
	align-items: center;
}

.dish-ref {
	color: black;
}

.menu-basket {
	color: black;
	margin-left: 20px;
	margin-right: 14px;
	font-weight: 400;
	font-size: 30px;
}

.basket {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
}

.basket_body {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: 30px 10px;
}

.pizza {
	display: flex;
	width: 400px;
	height: 200px;
	padding-inline: 36px;
	margin-top: 24px;
	margin-bottom: 30px;
}

.pizza img {
	margin-right: 22px;
}

.pizza_info {
	margin-top: 19px;
}

.pizza_info h2 {
	font-weight: 600;
	font-size: 36px;
}

.pizza_info h3 {
	font-weight: 500;
	font-size: 30px;
}

.manipulator {
	display: flex;
	margin-top: 60px;
}

.manipulator input {
	width: 30px;
	height: 30px;
	background: #0E0E0E;
	border: 0px;
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 24px;
	color: #FFFFFF;
	text-align: center;
}

.minus {
	display: flex;
	width: 34px;
	height: 32px;
	background: #0E0E0E;
	border-radius: 10px 0px 0px 10px;
	border: 0px;
	font-weight: 500;
	font-size: 24px;
	color: #FFFFFF;
	padding: 0px;
	text-decoration: none;
}

.plus {
	display: flex;
	width: 34px;
	height: 32px;
	background: #0E0E0E;
	border-radius: 0px 10px 10px 0px;
	border: 0px;
	font-weight: 500;
	font-size: 24px;
	color: #FFFFFF;
	text-decoration: none;
}

.underline {
	width: 400px;
	border: 1px solid #646464;
	margin-inline: 7%;
}

.cost {
	display: flex;
	margin-top: 22px;
	margin-inline: 7%;
}

.cost h4 {
	font-weight: 600;
	font-size: 24px;
}

.cost h5 {
	font-weight: 600;
	font-size: 24px;
	margin-left: auto;
}

.order {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 325px;
	height: 45.14px;
	background: linear-gradient(294.8deg, #810000 31.94%, #9A0000 71.67%);
	border-radius: 5px;
	border: 0;
	font-family: 'Montserrat';
	font-weight: 600;
	font-size: 24px;
	text-align: center;
	color: #FFFFFF;
	margin-block: 33px;
	margin-inline: 15%;
	text-decoration: none;
}

.order:hover {
	background: #810000;
}

.order:active {
	background: #550101;
}

.basket:target {
	opacity: 1;
	visibility: visible;
}

.basket_content {
	background: linear-gradient(162.89deg, #242424 17.41%, #111111 92.16%);
	border-radius: 20px;
	width: 30%;
}

.basket_head {
	background: linear-gradient(98.87deg, #040404 2.11%, #0E0E0E 34.4%);
	border-radius: 20px 20px 0px 0px;
	display: flex;
	padding-inline: 31px;
	padding-block: 26px;
	margin-bottom: 40px;
}

.basket_head h1 {
	font-weight: 700;
	font-size: 32px;
	text-transform: uppercase;
	color: #9A0000;
}

.basket_head a {
	margin-left: auto;
}

#sections {
	text-align: center;
}

.section {
	display: inline-block;
}

.section-name {
	font-weight: 700;
	font-size: 36px;
	margin-top: 28px;
}

.line {
	background: #D9D9D9;
	width: 250px;
	height: 3px;
	margin-left: 455px;
	margin-top: 9px;
}

.card{
	text-align: center;
    vertical-align: middle;
    margin-left: 91px;
    margin-bottom: 68px;
}

.card li {
	margin-top: 48px;
	display: inline-block;
	margin-right: 91px;
}

.card li h2 {
	margin-top: 20px;
	font-weight: 600;
	font-size: 36px;
	text-align: center;
	width: 246px;
}

.card li .desc {
	margin-top: 8px;
	font-weight: 300;
	font-size: 16px;
	width: 246px;
	height: 100px;
	text-align: left;
}

.card li h3 {
	display: inline;
	margin-top: 8px;
	font-weight: 500;
	font-size: 30px;
}

.card li .busket {
	width: 156px;
	height: 43px;
	background: #696969;
	border-radius: 10px;
	border: 0px;
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 24px;
	text-align: center;
	color: #FFFFFF;
	margin-left: 24px;
}

.card li .product_change {
	display: flex;
}

.card li .product_change a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	background: #950000;
	border: 0px;
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 24px;
	text-align: center;
	color: #FFFFFF;
}

.card li .btn\+ {
	border-radius: 0 5px 5px 0;
}

.card li .btn\+:hover {
	background-color: #810000;
}

.card li .btn\+:active {
	background-color: #550101;
}

.card li .btn- {
	border-radius: 5px 0 0 5px;
}

.card li .btn-:hover {
	background-color: #810000;
}

.card li .btn-:active {
	background-color: #550101
}

.card li .quantity {
	display: flex;
	width: 40px;
	height: 40px;
	background: #950000;
	border: 0px;
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 24px;
	align-items: center;
	justify-content: center;
	color: #FFFFFF;
}

.card img {
	width: 258px;
	height: 258px;
}

.footer {
	background: #1B1B1B;
	border-radius: 20px 20px 0px 0px;
}

.footer-container {
	width: 1170px;
	margin: auto;
	display: flex;
	align-items: center;
}

.footer-container img {
	margin-right: -45px;
	margin-left: 45px;
}

.footer-container p {
	width: 944px;
	font-weight: 300;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	margin-bottom: 25px;
}


.main-modal{
  display:none;
}

.upward {
	position: fixed;
	bottom: -100px;
	right: 70px;
	z-index: 9999;
	opacity: 30%;
	transition: 0.7s;
}

.upward:hover{
	opacity: 100%;
	cursor: pointer;
}

.active {
	bottom: 70px;;
}

.avatar {
	border-radius: 30px;
}

.card .price {
	display: flex;
	justify-content: space-between;
}

.attention {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	margin: auto;
	z-index: 100;

}

.order_block {
	display: flex;
	justify-content: center;
	margin: 20px;
}

.order_id {
	width: 30%;
	text-align: end;
	margin-right: 25px;
}

.order_main {
	width: 30%;
}

.order_price {
	display: flex;
	width: 30%;
	align-items: flex-end;
}

.order_sep {
	border-bottom: 1px solid gray;
}

.item_object {
	display: flex;
	justify-content: space-evenly;
}

.item_img img {
	width: 100px;
	height: 100px;
}